<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Товары</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <div>
        <h1>Редактировать покупателя</h1>
        <br>
        <div class="container">
            <form th:action="@{/client/save-client}" th:object="${client}" method="post">
                <input readonly="readonly" type="hidden" th:field="*{client_id}"/>
                Наименование покупателя: <input type="text" th:field="*{client_name}"/>
                <br><br>
                <div class="submit">
                    <button name="editClient" type="submit">Сохранить покупателя</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="link-main-page_bottom">
        <a th:href="@{/}">На главную</a>
    </div>
</body>
</html>